body {
    font: 400 16px Lato, Tahoma, sans-serif;
    line-height: 1.6;
    text-align: justify;
}

h1, h2 {
    color: #003974;
    margin-top: 25px;
    margin-bottom: 5px;
    font-variant: small-caps;
    font-family: Montserrat, "Microsoft YaHei UI Light", sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
}

.bg-grey {
    background-color: #DDD;
}

.jumbotron {
    padding: 10px 0px;
    margin: 0px 0px;
    font-family: Montserrat, "Microsoft YaHei UI Light", sans-serif;
}

.jumbotron img {
    width: 100%;
    height: auto;
    max-width: 950px;
}

#ipelBanner {
    background-color: #003974;
    color: #FFF;
}

#hkBanner {
    background-color: #FFF;
    color: #003974;
}

.navbar, .dropdown-menu {
    margin-bottom: 0px !important;
    background-color: #A78337;
    color: #FFF;
    font-family: Montserrat, "Microsoft YaHei UI Light", sans-serif;
    font-size: 12px !important;
    border: 0px;
    border-radius: 5px;
}

.nav a, .navbar-brand {
    color: #FFF !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.nav li.active a {
    background-color: #FFF !important;
    color: #A78337 !important;
}

.nav li.active .dropdown-menu a {
    background-color: #A78337 !important;
    color: #FFF !important;
}

.nav a:hover ,.nav li .dropdown-menu a:hover {
    color: #A78337 !important;
    background-color: #FFF !important;
}

.navbar .navbar-toggle .icon-bar {
    background-color: #FFF;
}

.navbar .navbar-toggle {
    color: #FFF !important;
    border: 0px;
}

.navbar-header button {
    margin-right: 0px;
}

@media screen and (min-width: 768px) {
    .affix {
        top: 0px;
        z-index: 9;
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .affix {
        top: 0px;
        right: 0px;
        z-index: 9;
    }
}

img {
    width: 100%;
    height: auto;
}

.carousel {
    margin: 20px 0px;
}

.carousel img {
    width: 100%;
    height: auto;
    margin: auto;
}

.carousel-indicators {
    margin-bottom: 0px;
}

.carousel-control {
    width: 10%;
}

.carousel-control span {
    display: inline-block;
    position: absolute;
    top: 50%;
    z-index: 5;
}

footer {
    background-color: #A78337;
    color: #FFF;
}

footer span {
    font-size: 20px;
    margin-bottom: 5px;
    color: #FFF;
}

footer p {
    font-size: 14px;
}

footer img {
    width: 100%;
    height: auto;
    max-height: 50px;
}
