
AuthName "IPEL intranet: use CAS"
AuthType CAS
require user eemok eeki eedarwin eechenglin ygaoad jzhengab yluar spanac xgeab fchenaf qwanaa qkuai spal yzhongam dluoab swangbw khchong nxuab shwuaa shyuenaa kjnag
